{%for x in dds%}
<section class="section">
     <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Drag & Drop Row Table</h4>
                    <div class="card-header-action">
                      <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped" id="sortable-table">
                        <thead>
                          <tr>
                            <th class="text-center">
                              <i class="fas fa-th"></i>
                            </th>
                            <th>MR NO.</th>
                            <th>MR Date.</th>
                            <th>Branch Name</th>
                            <th>Class</th>
                            <th>Doc. No.</th>
                            <th>Insured_Name</th>
                            <th>Premium</th>
                            <th>Vat</th>
                            <th>Stamp</th>
                            <th>Service Charge</th>
                             <td>CoIns_Net</td>
                            <th>Other</th>
                            <th>Gross</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="sort-handler">
                                <i class="fas fa-th"></i>
                              </div>
                            </td>
                            <td>{{x.Mr_No}}</td>
                            <td>{{x.Date}}</td>
                            <td>{{x.Branch_name}}</td>
                            <td>{{x.Class}}</td>
                            <td>{{x.Doc_No}}</td>
                            <td>{{x.Insured_Name}}</td>
                            <td>{{x.Premium}}</td>
                            <td>{{x.Vat}}</td>
                            <td>{{x.Stamp}}</td>
                            <td>{{x.ServiceCharge}}</td>
<!--                            <td>{{x.CoIns_Net}}</td>-->
<!--                            <td>{{x.Other}}</td>-->
                            <td>{{x.Total_amount}}</td>
                            <td><a href="{%url 'sms' x.id%}"class="btn btn-primary" >SMS</a></td>
                            <td><a href="{%url 'mrno' x.id%}"class="btn btn-primary" target="_blank"><i class="fa fa-print" aria-hidden="true" >MR</i></a></td>

                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
{%endfor%}