<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>4cf2258d-cc83-43fd-aa81-b2c59a62cafb</title>
    <style type="text/css"> * {margin:0; padding:0; text-indent:0; }
 .s1 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s2 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s3 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
 .s4 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
 p { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; margin:0pt; }
 h1 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
 .s5 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
 .s6 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
 .s7 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 1pt; }
 .s8 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 3pt; }
 .s9 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: -1pt; }
 .s10 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 2pt; }
 .s11 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
 .s13 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; }
 .s14 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; vertical-align: 1pt; }
 .s15 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s16 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
 h2 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
 a { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
 .s17 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
 table, tbody {vertical-align: top; overflow: visible; border:2px solid black; }
table, tbody {
    vertical-align: top;
    overflow: visible;
    margin: 0 auto;
}

.ftable {
    display: flex;
}
body {
width:816px;
vertical-align: top;
    overflow: visible;
    margin: 0 auto;}
    </style>
</head>
<body>
{%for x in mc%}
<div class="abc">
    <p style="text-indent: 0pt;text-align: left;"/>
<p style="text-indent: 0pt;text-align: center;">.</p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
    <div class="ftable" style="margin:0 auto; margin-left: 35px; margin-right: 35px;">
<table style="border-collapse:collapse border:2px solid gray" cellspacing="0">
     <tr style="height:19pt">
        <td style="width:257pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-Right-width:1pt;">
            <p class="s1" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: Center; "><b>Issuing Office</b></p></td>

    </tr>
    <tr style="height:19pt">
        <td style="width:257pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-Right-width:1pt;">
            <p class="s1" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: Center;">Principal Branch</p></td>
    </tr>
    <tr style="height:19pt">
        <td style="width:257pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-Right-width:1pt;">
            <p class="s1" style=" 5pt;padding-left: 5pt;text-indent: 0pt;text-align: Center;">House # 22, Level-3, Road # 113/A, Gulshan-2,
    Dhaka-1212 Phone : 55049824-30 Fax : 02-55049822-23</p></td>

    </tr>
    <tr style="height:19pt">
        <td style="width:238pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-Right-width:1pt;">
            <p class="s1" style=" 5pt;padding-left: 5pt;text-indent: 0pt;text-align: Center;">E-mail: picl@paramountgroupbd.com</p></td>

    </tr>
    <tr style="height:19pt">
        <td style="width:238pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-Right-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;">
            <p class="s1" style=" 5pt;padding-left: 5pt;text-indent: 0pt;text-align: Center;"></p></td>

    </tr>
</table>

<table style="border-collapse:collapse" cellspacing="0"  >
    <tr style="height:19pt">
        <td style="width:150pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Marine @0.{{x.Rate}} %
                - %</p></td>
        <td style="width:22pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 2pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">Tk.</p></td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s2" style="padding-top: 4pt;padding-right: 6pt;text-indent: 0pt;text-align: right;">500.00</p>
        </td>
    </tr>
    <tr style="height:18pt">
        <td style="width:150pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">WAR &amp; SRCC
                @0.00 <b>%</b></p></td>
        <td style="width:22pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 4pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">Tk.</p></td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s2" style="padding-top: 1pt;padding-right: 7pt;text-indent: 0pt;text-align: right;">0.00</p></td>
    </tr>
    <tr style="height:16pt">
        <td style="width:150pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s3" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Net Premium</p>
        </td>
        <td style="width:22pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1"
               style="padding-top: 4pt;padding-right: 3pt;text-indent: 0pt;line-height: 10pt;text-align: right;">Tk.</p>
        </td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s4" style="padding-top: 1pt;padding-right: 6pt;text-indent: 0pt;text-align: right;">500.00</p>
        </td>
    </tr>
    <tr style="height:18pt">
        <td style="width:150pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">VAT @ 0 %</p>
        </td>
        <td style="width:22pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 2pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">Tk.</p></td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s2" style="padding-top: 1pt;padding-right: 7pt;text-indent: 0pt;text-align: right;">0.00</p></td>
    </tr>
    <tr style="height:16pt">
        <td style="width:150pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Stamp Duty</p>
        </td>
        <td style="width:22pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 2pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">Tk.</p></td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s2" style="padding-top: 1pt;padding-right: 6pt;text-indent: 0pt;text-align: right;">50.00</p></td>
    </tr>
    <tr style="height:19pt">
        <td style="width:150pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Gross
                Premium</p></td>
        <td style="width:22pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-top: 2pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">Tk.</p></td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s4" style="padding-top: 1pt;padding-right: 6pt;text-indent: 0pt;text-align: right;">550.00</p>
        </td>
    </tr>
</table>
        </div>

<div class="bodys" style="margin-left: 43px; margin-right: 46px;">
<h1 style="padding-top: 4pt;padding-left: 6pt;text-indent: 0pt;line-height: 13pt;text-align: left;">MARINE COVER NOTE
    NO. : PRM/PB/MC-34110/11/2021 <span class="s5">Date : November 28, 2021</span></h1>
<p style="padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: justify;">Subject to the Clauses and Conditions
    of the Company&#39;s Marine Cargo Policy Form in use at the time of Shipment or despatch and to the claus
and conditions of cover specified in the schedule hereto
    to this Cover Note is effected for the period of Cover stated below to insure for the voyag and/or voyages and/or
    transits stated the interest specified herein shipped and/or despatched within the limits of this Cover Note either
    by or f account of the Insured name below in which the said insured has an insurable interest unless insured
    eleswhere prior to such interest bein acquired or the Insurance of which is in the Insured&#39;s hands or under the
    Insured&#39;s control as selling and/or purchasing agent. This Cover Note do not cover the interest of any other
    person or persons.
</p>
    </div>
<table style="border-collapse:collapse" cellspacing="0">
    <tr style="height:17pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
            bgcolor="#EAEAEA"><p class="s6"
                                 style="padding-left: 210pt;padding-right: 188pt;text-indent: 0pt;line-height: 15pt;text-align: center;">
            || THE SCHEDULE ||</p></td>
    </tr>
    <tr style="height:100pt">

        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#5B5B5B;border-right-style:solid;border-right-width:1pt">

            <p class="s7" style="padding-left: 30pt;text-indent: -11pt;line-height: 90%;text-align: left; padding-top:5px;">Insured Name &amp;Address:
                <span class="s1">HSBC Shanta Western Tower 186, Bir Uttam Mir Shawkat Ali Road, Tejgaon I/A, Dhaka-1208 , A/C. M/S. INTERFAB SHIRT MANUFACTURING LTD. , Plot # 302/547, Kunia, Gasa Union, K.B Bazar, Post-National University, Gazipur,Bangldaesh.</span>
            </p>
            <p class="s1" style="padding-top: 8pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Interest Covered
                <span class="s9">: </span>Fabrics for 100% export oriented garments Factory in standard exportable
                packing only</p>
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
            <p class="s1" style="padding-left: 78pt;text-indent: -73pt;text-align: left;">In Transit By <span
                    class="s10">: </span>Per any steamer or power-vessel as per Institute Classification Clause and/ or
                conveyance by road and/or rail and/o approved aircraft and/or parcel post to be declared By AIR.</p>
        </td>
    </tr>
    <tr style="height:69pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-top-color:#5B5B5B;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#848484;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Voyage From : Any Port of Turkey
                TO : Factory Site Via : H.Shahjajal Intl Air Port, Dhaka</p>
            <p class="s1" style="padding-top: 7pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">Amount Insured :
                US$ 1,787.91 +10% @Tk. 85.80 = Tk.1,68,743.00 as arranged &amp; or</p>
            <p class="s1"
               style="padding-left: 4pt;padding-right: 11pt;text-indent: 0pt;line-height: 108%;text-align: left;">Amount
                in Word : One Lac Sixty Eight Thousand Seven Hundred Forty Three . <span
                        class="s10">as per tariff </span>Conditions of Cover :AIR ND RISK ONLY..</p></td>
    </tr>
    <tr style="height:33pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-top-color:#848484;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#848484;border-right-style:solid;border-right-width:1pt">
            <p class="s1"
               style="padding-top: 3pt;padding-left: 105pt;padding-right: 79pt;text-indent: 0pt;text-align: left;">As
                per Institute of London Underwriter&#39;s Clauses current on the date of sailing Warranted that interest
                insured under this cover is shipped under deck</p></td>
    </tr>
    <tr style="height:34pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-top-color:#848484;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#5B5B5B;border-right-style:solid;border-right-width:1pt">
            <p class="s1"
               style="padding-top: 5pt;padding-left: 85pt;text-indent: -79pt;line-height: 90%;text-align: left;"><span
                    class="s9">Period : </span>This acceptance is valid for shipments made from midnight
                <b>28-NOV-21 </b>until midnight <b>27-NOV-22 </b>unless previous exhausted by declaration/s</p></td>
    </tr>
    <tr style="height:17pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-top-color:#5B5B5B;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#848484;border-right-style:solid;border-right-width:1pt">
            <p class="s7" style="padding-top: 1pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">Cancellation :
                <span class="s1">In accordance with the Cancellation Clause of this Cover Note, endorsed on reverse hereon .</span>
            </p></td>
    </tr>
    <tr style="height:14pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-top-color:#848484;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#5B5B5B;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-left: 4pt;text-indent: 0pt;text-align: left;">Other Condition : As endorsed on
                reverse hereon .</p></td>
    </tr>
    <tr style="height:14pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-top-color:#5B5B5B;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#ADADAD;border-right-style:solid;border-right-width:1pt">
            <p class="s7" style="padding-left: 4pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Declaration :
                <span class="s1">Notice of shipments failing within the Scope of this covernote are to be made as follows :</span>
            </p></td>
    </tr>
    <tr style="height:64pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-top-color:#ADADAD;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1" style="padding-left: 86pt;text-indent: 0pt;line-height: 11pt;text-align: left;">(a) By the
                shippers : Prior to shipment/s or as soon as possible thereafter to the undermentioned</p>
            <p class="s11" style="padding-top: 1pt;padding-left: 97pt;text-indent: 0pt;text-align: left;">Office of the
                Company a <b>Paramount Insurance Co. Ltd.</b></p>
            <p class="s1" style="padding-top: 1pt;padding-left: 97pt;text-indent: 0pt;text-align: left;">House # 22
                (Level-3 &amp; 4), Road # 113/A, Gulshan-2, Dhaka-1212. Phone: 55049824-30</p>
            <p class="s11" style="padding-left: 96pt;padding-right: 2pt;text-indent: 0pt;text-align: left;">In the
                interests of the insured and of the Bank concerned it is suggested that suitable clause be inserted in
                Letter of Credit requesting shipments to be declared by the shippers as noted above.</p></td>
    </tr>
    <tr style="height:14pt">
        <td style="width:534pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
            <p class="s1"
               style="padding-top: 1pt;padding-left: 85pt;text-indent: 0pt;line-height: 11pt;text-align: left;">(b) By
                the Insured : To the above issuing office of the Company.</p></td>
    </tr>
</table>

<p style="padding-left: 38pt;text-indent: 0pt;text-align: left;">
    <br>
    On receipt of the above declaration from the insured
    the Policy/Certificate will be issued by the Company.</p>
    <div class="re" style="border:dotted; text-align:center; width:300px; margin:0 auto;">
<p>Reinsured with Sadharan Bima Corporation</p>
        </div>
<p style="padding-left: 159pt;text-indent: 0pt;text-align: left;"/>
    <p style="padding-top: 2pt;padding-left: 38pt;text-indent: 0pt;text-align: left;">MR. No . 6462 Date : 28-NOV-21
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>For &amp; on behalf of</span></p>
<p class="s13" style="padding-left: 75pt;text-indent: 0pt;text-align: left;">Imran<span style="text-align:center">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            (Sl# 19520) (P.I.N# 7)</span></p>
        <p style="padding-top: 4pt;padding-left: 65pt;text-indent: 0pt;text-align: left;">Checked By
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Bank Gurantee No : BG
    No-GSN-2540-0104-2021</span> <span>Paramount Insurance Co. Ltd.</span></p>
    <p class="s14" style="padding-left: 25pt;text-indent: 0pt;line-height: 11pt;text-align: center;"></p>


<p style="padding-left: 9pt;text-indent: 0pt;line-height: 10pt;text-align: right; margin-right:70px;"></p>

<div class="idra" style="border:dotted; width:300px; margin-left:70px;">
<p class="s16" style="padding-top: 6pt;padding-left: 29pt;text-indent: 0pt;text-align: left;font-family: SutonnyMJ;">বীমা দাবী সংক্রান্ত কোন অভিযোগ থাকলে যোগাযোগ করুন:</p>
<h2 style="padding-left: 30pt;text-indent: 0pt;line-height: 11pt;text-align: left;font-family: SutonnyMJ;">exgv Dbœqb I wbqš¿b KZ©„c¶</h2>
<p class="s16" style="padding-left: 27pt;text-indent: 0pt;line-height: 10pt;text-align: left;font-family: SutonnyMJ;">Gmwewm UvI qvi (9g Zj
    v), 37/G, w`j Kzkv ev/G, XvKv-1000|</p>
<p class="s16" style="padding-left: 11pt;text-indent: 0pt;text-align: left;font-family: SutonnyMJ;"><span
        style=" color: black; font-family:&quot;Times New Roman&quot;, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt;">www.idra.org.bd. </span>‡dvb
    t 9565548, B-‡gBj t</p>
<p style="padding-left: 66pt;text-indent: 0pt;text-align: left;"><a href="mailto:officercomplain2@idra.org.bd">officercomplain2@idra.org.bd</a>
</p>
</div>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="margin:0; padding:0;">Authorized Officer</span>

</div>
{%endfor%}
</body>
</html>
